body {
  margin: 0;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url("./Assets/fonts/roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'), url("./Assets/fonts/roboto/Roboto-Bold.ttf") format('truetype');
}